{
  "log": {
    "_recordingName": "fal/wan-v2p7-pro-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dbfba5764ef4684b12bfdcd78f011ffc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Turn image 1 into a watercolor painting.\",\"image_urls\":[\"https://storage.googleapis.com/falserverless/model_tests/wan/dragon-warrior.jpg\"],\"num_images\":1,\"enable_safety_checker\":true}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/wan/v2.7/pro/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 187,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96b7c4/sDLUbt9Qb7GwD6mgcEAbU_output_1.png\",\"content_type\":\"image/png\",\"file_name\":\"output_1.png\",\"file_size\":2349923}],\"seed\":950566603}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d9f6a-410f-7482-a6a6-00e8d374338c"
            },
            {
              "name": "x-fal-served-from",
              "value": "b5d607fe-fa58-401f-aae4-3e4eb24eb191"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 16194,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
