{
  "log": {
    "_recordingName": "fal/nano-banana-pro-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9a5ebe0753b54a7f799781b28dc27199",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"make a photo of the man driving the car down the california coastline\",\"image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/nano-banana-edit-input.png\",\"https://storage.googleapis.com/falserverless/example_inputs/nano-banana-edit-input-2.png\"]}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/nano-banana-pro/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a95ca67/dUxrR-uQmHderIX_AL69I_5XL8rzzv.png\",\"content_type\":\"image/png\",\"file_name\":\"dUxrR-uQmHderIX_AL69I_5XL8rzzv.png\",\"file_size\":null,\"width\":null,\"height\":null}],\"description\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d7b32-6356-7631-bb3c-2406751b307b"
            },
            {
              "name": "x-fal-served-from",
              "value": "710a4992-907d-4823-a578-49eb1b2a8bab"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 29599,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
