{
  "log": {
    "_recordingName": "kie/file-uploads/base64",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "82f2ccb8726515bc47e187392de91663",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"base64Data\":\"iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFCcSAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==\",\"uploadPath\":\"images/test-uploads\",\"fileName\":\"test-base64.png\",\"mimeType\":\"image/png\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-base64-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 350,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"test-base64.png\",\"filePath\":\"kieai/136592/images/test-uploads/test-base64.png\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/test-base64.png\",\"fileSize\":70,\"mimeType\":\"image/png\",\"uploadedAt\":\"2026-04-10T05:13:20.586Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 932,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
