{
  "log": {
    "_recordingName": "kie/credits",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 41,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":53.62}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
