{
  "log": {
    "_recordingName": "fal/account-billing",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5b939474e9e2725f2d2731515e8c0435",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "expand",
              "value": "credits"
            }
          ],
          "url": "https://api.fal.ai/v1/account/billing?expand=credits"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 80,
            "text": "{\"username\":\"justintanner\",\"credits\":{\"current_balance\":9.52,\"currency\":\"USD\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::qw6vd-1774765787278-64e56a5b9db2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1672,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
