{
  "log": {
    "_recordingName": "kie/suno-extend",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "772714a4e5b028b8fd5b4cb1d1ee9114",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"audioId\":\"test-audio-uuid\",\"defaultParamFlag\":false,\"model\":\"V4\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/extend"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 67,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"test-task-id-12345\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}