{
  "log": {
    "_recordingName": "kie/mp4-record-info",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ddf4194a9af1d2999ba68254c9055048",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "test-task-id"
            }
          ],
          "url": "https://api.kie.ai/api/v1/mp4/record-info?taskId=test-task-id"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 40,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
