{
  "log": {
    "_recordingName": "kie/file-url-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "799113279933c151e3214e25b2033fc2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"url\":\"https://example.com/test-image.png\",\"uploadPath\":\"uploads/test-url-upload.png\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-url-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": "{\"success\":false,\"code\":400,\"msg\":\"Missing required parameter: fileUrl (file download URL)\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1016,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
