{
  "log": {
    "_recordingName": "kie/grok-video-extend",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6da0963466d2f67ad05372eb90cb5832",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/extend\",\"input\":{\"task_id\":\"c13f22cfc68d83c319043ade1c1fd401\",\"prompt\":\"The bird lands gracefully on a tree branch\",\"extend_at\":0,\"extend_times\":\"6\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"fb235c7ade81539a70ab48be631c8dff\",\"recordId\":\"fb235c7ade81539a70ab48be631c8dff\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 399,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
