{
  "log": {
    "_recordingName": "fal/queue-cancel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8de1d7d87161e3cc1de6d1e1efe59a7d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"test status\"}"
          },
          "queryString": [],
          "url": "https://queue.fal.run/undefined"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 761,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
