{
  "log": {
    "_recordingName": "fal/models-usage-analytics",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2d3fdf965647904bc70e9b672accbc37",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "endpoint_id",
              "value": "fal-ai/flux/dev"
            }
          ],
          "url": "https://api.fal.ai/v1/models/analytics?endpoint_id=fal-ai%2Fflux%2Fdev"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1406,
            "text": "{\"next_cursor\":null,\"has_more\":false,\"time_series\":[{\"bucket\":\"2026-04-07T11:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T12:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T13:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T14:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T15:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T16:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T17:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T18:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T19:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-04-07T20:00:0[...]
