{
  "log": {
    "_recordingName": "free/filebin-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4985f36c54ed52c5e930632062a0c405",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://filebin.net/nakedapi-test-img/cat1.jpg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 388,
            "text": "{\n    \"bin\": {\n        \"id\": \"nakedapi-test-img\",\n        \"readonly\": false,\n        \"bytes\": 83558,\n        \"bytes_readable\": \"84 kB\",\n        \"files\": 1,\n        \"updated_at\": \"2026-04-10T05:13:19.494316Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-04-09T16:02:28.197302Z\",\n        \"created_at_relative\": \"13 hours ago\",\n        \"expired_at\": \"2026-04-17T05:13:19.494315Z\",\n        \"expired_at_relative\": \"6 days from now\"\n    },\n    \"file\": {\n        \"filename\": \"cat1.jpg\",\n        \"content-type\": \"image/jpeg\",\n        \"bytes\": 83558,\n        \"bytes_readable\": \"84 kB\",\n        \"md5\": \"ORomBIzml7oHKs2DIJkj9w==\",\n        \"sha256\": \"561dbe5dcd0c931cd3b41705ebe00df9181560967cea8b17128373a06ab911a3\",\n        \"updated_at\": \"2026-04-10T05:13:19.487074Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-04-09T16:02:28.487174Z\",\n        \"created_at_relative\": \"13 hours ago\"\n    }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-report-abuse",
              "value": "abuse@filebin.net"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 780,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
