{
  "log": {
    "_recordingName": "fal/compute-get",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d6a4b7ef6d8bcbc1d0afc19884e31615",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/compute/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 145,
            "text": "{\"error\":{\"type\":\"authorization_error\",\"message\":\"Compute access requires additional permissions. Contact support to enable compute features.\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::jl86r-1775649016493-7414081359d1"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 556,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
