{
  "log": {
    "_recordingName": "fal/models-search-query",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "045d3a676066bd0fc887c48a24941c31",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "flux"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ],
          "url": "https://api.fal.ai/v1/models?q=flux&limit=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2134,
            "text": "{\"models\":[{\"endpoint_id\":\"fal-ai/flux/dev\",\"metadata\":{\"display_name\":\"FLUX.1 [dev]\",\"category\":\"text-to-image\",\"description\":\"FLUX.1 [dev] is a 12 billion parameter flow transformer that generates high-quality images from text. It is suitable for personal and commercial use.\",\"status\":\"active\",\"tags\":[],\"updated_at\":\"2026-01-26T21:43:58.500Z\",\"is_favorited\":false,\"thumbnail_url\":\"https://storage.googleapis.com/fal_cdn/fal/Upscale-1.jpeg\",\"model_url\":\"https://fal.run/fal-ai/flux/dev\",\"license_type\":\"commercial\",\"date\":\"2025-04-01T18:10:42.284Z\",\"group\":{\"key\":\"flux-1\",\"label\":\"Text to Image [dev]\"},\"highlighted\":true,\"kind\":\"inference\",\"stream_url\":\"https://fal.run/fal-ai/flux/dev/stream\",\"pinned\":false}},{\"endpoint_id\":\"fal-ai/flux-2-pro\",\"metadata\":{\"display_name\":\"Flux 2 Pro\",\"category\":\"text-to-image\",\"description\":\"Image editing with FLUX.2 [pro] from Black Forest Labs. Ideal for high-quality image manipulation, style transfer, and sequential editing workflows\",\"status\":\"active\",\"tags\":[],\"updated_at\":\"2026-02-27T22:27:29.257Z\",\"is_favorited\":false,\"thumbnail_url\":\"https://v3b.fal.media/files/b/penguin/UfryXXm9my6IM8HsoP9FL_054c2c2953dc491996904114c6e[...]
