{
  "log": {
    "_recordingName": "kie/models/elevenlabs-sound-effect",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2ca9ac5fcfbca871295a5b9861b8c41d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/sound-effect-v2\",\"input\":{\"prompt\":\"A dramatic thunderclap with heavy rain\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 49,
            "text": "{\"code\":500,\"msg\":\"text is required\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 236,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
