{
  "log": {
    "_recordingName": "free/gofile-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 427,
            "text": "{\"data\":{\"createTime\":1775797987,\"downloadPage\":\"https://gofile.io/d/knWCui\",\"guestToken\":\"zs2a7dTfWW16UMoETR828quGqyouO2or\",\"id\":\"047698b6-f49f-4fd9-8daa-51243e35664f\",\"md5\":\"391a26048ce697ba072acd83209923f7\",\"mimetype\":\"image/jpeg\",\"modTime\":1775797987,\"name\":\"cat1.jpg\",\"parentFolder\":\"88a3b47f-cafb-489f-8a1c-1319204a68de\",\"parentFolderCode\":\"knWCui\",\"servers\":[\"store-na-phx-3\"],\"size\":83558,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1929,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
