{
  "log": {
    "_recordingName": "kie/suno-generate-persona",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f5dde06e8652a2d60f61355b1bfd47d6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"test-task-id\",\"audioId\":\"test-audio-uuid\",\"name\":\"Pop Star\",\"description\":\"A bright, energetic pop vocalist\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/generate-persona"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 134,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"personaId\":\"persona-abc-123\",\"name\":\"Pop Star\",\"description\":\"A bright, energetic pop vocalist\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}