{
  "log": {
    "_recordingName": "kimicoding/models-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5378d4bdec7e2319f2ab1e43c9242a9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/models"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 347,
            "text": "{\"data\":[{\"id\":\"kimi-for-coding\",\"created\":1761264000,\"created_at\":\"2025-10-24T00:00:00Z\",\"object\":\"model\",\"display_name\":\"Kimi For Coding\",\"type\":\"model\",\"context_length\":262144,\"supports_reasoning\":true,\"supports_image_in\":true,\"supports_video_in\":true}],\"object\":\"list\",\"first_id\":\"kimi-for-coding\",\"last_id\":\"kimi-for-coding\",\"has_more\":false}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-trace-id",
              "value": "398b6734779d180504cf7a8742695456"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 490,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
