{
  "log": {
    "_recordingName": "kimicoding/search-basic",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bf6b7c2be66e708adb54af0900defd73",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"text_query\":\"TypeScript generics tutorial\",\"limit\":3}"
          },
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 30074,
            "text": "{\"search_results\":[{\"content\":\"## 3\\\\. Your First Generic React Component\\n\\nLet's convert a simple component to use generics. Here's a basic list component:\\n\\n```\\n// Non-generic version\\ninterface User {\\n  id: number;\\n  name: string;\\n  email: string;\\n}\\n\\ninterface UserListProps {\\n  users: User[];\\n  onUserSelect: (user: User) =\\u003e void;\\n}\\n\\nfunction UserList({ users, onUserSelect }: UserListProps) {\\n  return (\\n    \\u003cul\\u003e\\n      {users.map(user =\\u003e (\\n     [...]
