{
  "log": {
    "_recordingName": "kie/qwen2-image-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dc8e8ebe5749765a194a75d5c29b2989",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"qwen2/image-edit\",\"input\":{\"prompt\":\"Add sunglasses to the subject\",\"image_url\":\"https://static.aiquickdraw.com/tools/example/1773473208660_6EO8TFjh.webp\",\"image_size\":\"1:1\",\"output_format\":\"png\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"efecf64c9bba19b7bd91359727ec27a5\",\"recordId\":\"efecf64c9bba19b7bd91359727ec27a5\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 507,
      },
      {
        "_id": "eda7ef2000401b6b2136a18a35ed432d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "efecf64c9bba19b7bd91359727ec27a5"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=efecf64c9bba19b7bd91359727ec27a5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 512,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"efecf64c9bba19b7bd91359727ec27a5\",\"model\":\"qwen2/image-edit\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"image_size\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"image_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1773473208660_6EO8TFjh.webp\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Add sunglasses to the subject\\\\\\\"}\\\",\\\"model\\\":\\\"qwen2/image-edit\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775798006169}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
