{
  "log": {
    "_recordingName": "kie/qwen2-image-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc54db8f65fafd2112b46de9a97cd32b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"qwen2/image-edit\",\"input\":{\"prompt\":\"Add sunglasses to the subject\",\"image_url\":[\"https://static.aiquickdraw.com/tools/example/1773473208660_6EO8TFjh.webp\"],\"image_size\":\"1:1\",\"output_format\":\"png\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"198a7ad1364104d13c8a6b07d332ae02\",\"recordId\":\"198a7ad1364104d13c8a6b07d332ae02\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 484,
      },
      {
        "_id": "4e4bb06d65decf75d6652e30510bf958",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "198a7ad1364104d13c8a6b07d332ae02"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=198a7ad1364104d13c8a6b07d332ae02"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 514,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"198a7ad1364104d13c8a6b07d332ae02\",\"model\":\"qwen2/image-edit\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"image_size\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"image_url\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1773473208660_6EO8TFjh.webp\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Add sunglasses to the subject\\\\\\\"}\\\",\\\"model\\\":\\\"qwen2/image-edit\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776345276111}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 269,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
