{
  "log": {
    "_recordingName": "fal/workflows-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d6bb59f6deca1e69592091ba505893d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "3"
            }
          ],
          "url": "https://api.fal.ai/v1/workflows?limit=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 63,
            "text": "{\"workflows\":[],\"next_cursor\":null,\"has_more\":false,\"total\":0}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::z2lr4-1775797981552-a4b08018e76c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 356,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
