{
  "log": {
    "_recordingName": "fal/billing-events",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "10a95cc4fc8a74332a8fe6e2118d23d1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.fal.ai/v1/models/billing-events?limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1170,
            "text": "{\"billing_events\":[{\"request_id\":\"019d35df-9b15-7a30-85c0-34ac3f464bac\",\"endpoint_id\":\"fal-ai/flux/dev\",\"timestamp\":\"2026-03-28T19:15:42.501870000Z\",\"output_units\":1,\"unit_price\":0.025,\"percent_discount\":0,\"cost_estimate_nano_usd\":25000000},{\"request_id\":\"019d35df-97b3-7770-bd35-35ba9ab1ab38\",\"endpoint_id\":\"fal-ai/flux/schnell\",\"timestamp\":\"2026-03-28T19:15:39.483401000Z\",\"output_units\":1,\"unit_price\":0.003,\"percent_discount\":0,\"cost_estimate_nano_usd\":3000000},{\"request_id\":\"019d35df-445e-7273-b57a-9c48c3d6c89c\",\"endpoint_id\":\"fal-ai/flux/dev\",\"timestamp\":\"2026-03-28T19:15:19.975654000Z\",\"output_units\":1,\"unit_price\":0.025,\"percent_discount\":0,\"cost_estimate_nano_usd\":25000000},{\"request_id\":\"019d35de-d11b-7da3-8db0-74c510da4cd1\",\"endpoint_id\":\"fal-ai/flux/schnell\",\"timestamp\":\"2026-03-28T19:14:48.433481000Z\",\"output_units\":0,\"unit_price\":0.003,\"percent_discount\":0,\"cost_estimate_nano_usd\":0},{\"request_id\":\"019d35de-ccea-7d41-94af-5672735c4fac\",\"endpoint_id\":\"fal-ai/flux/schnell\",\"timestamp\":\"2026-03-28T19:14:47.667228000Z\",\"output_units\":1,\"unit_price\":0.003,\"percent_discount\":0,\"cost_estimate_nano_usd\":3000000}],\"next_cursor\":null,\"has_more\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::866dd-1774765627806-b12402431375"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1665,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
