{
  "log": {
    "_recordingName": "fal/requests-search-endpoint",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "54ba5ad54dac2c2c501e9066d9353bc1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "endpoint",
              "value": "fal-ai/flux/dev"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.fal.ai/v1/models/requests/search?endpoint=fal-ai%2Fflux%2Fdev&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1185,
            "text": "{\"results\":[{\"request_id\":\"019d35df-9b15-7a30-85c0-34ac3f464bac\",\"endpoint_id\":\"fal-ai/flux/dev\",\"started_at\":\"2026-03-28T19:15:40.018Z\",\"sent_at\":\"2026-03-28T19:15:39.925Z\",\"ended_at\":\"2026-03-28T19:15:42.501Z\",\"status_code\":200,\"duration\":2.483425,\"json_input\":{\"prompt\":\"a tiny cat sitting on a windowsill\",\"image_size\":\"square_hd\",\"num_images\":1},\"json_output\":{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a940416/uEhwR6drmhFQvOvhriVRj_hQ3GRe27.jpg\",\"width\":1024,\"height\":1024,\"content_type\":\"image/jpeg\"}],\"timings\":{},\"seed\":1760876332,\"has_nsfw_concepts\":[false],\"prompt\":\"a tiny cat sitting on a windowsill\"}},{\"request_id\":\"019d35df-445e-7273-b57a-9c48c3d6c89c\",\"endpoint_id\":\"fal-ai/flux/dev\",\"started_at\":\"2026-03-28T19:15:17.794Z\",\"sent_at\":\"2026-03-28T19:15:17.726Z\",\"ended_at\":\"2026-03-28T19:15:19.975Z\",\"status_code\":200,\"duration\":2.18159,\"json_input\":{\"prompt\":\"test\",\"num_images\":1},\"json_output\":{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a940413/kZ7qq5DD80uRn0CBQ1Sbp_kIojkUNz.jpg\",\"width\":1024,\"height\":768,\"content_type\":\"image/jpeg\"}],\"timings\":{},\"seed\":1113845318,\"has_nsfw_concepts\":[false],\"prompt\":\"test\"}}],\"next_cursor\":null,\"has_more\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::9ldcm-1774766022470-dd9a9b37a4c4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1427,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
