{
  "log": {
    "_recordingName": "kie/flux-kontext-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d39c99e8dc3a94a9ebc2abb16794585a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A futuristic cityscape at night with neon lights\",\"model\":\"flux-kontext-pro\",\"aspectRatio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/flux/kontext/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 93,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"fluxkontext_966e572e93f84b7db65b09104fc10b24\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 378,
      },
      {
        "_id": "085490636f527322ea99b0029ef1622d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "fluxkontext_966e572e93f84b7db65b09104fc10b24"
            }
          ],
          "url": "https://api.kie.ai/api/v1/flux/kontext/record-info?taskId=fluxkontext_966e572e93f84b7db65b09104fc10b24"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 433,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"fluxkontext_966e572e93f84b7db65b09104fc10b24\",\"paramJson\":\"{\\\"aspectRatio\\\":\\\"16:9\\\",\\\"enableTranslation\\\":true,\\\"model\\\":\\\"flux-kontext-pro\\\",\\\"outputFormat\\\":\\\"jpeg\\\",\\\"prompt\\\":\\\"A futuristic cityscape at night with neon lights\\\",\\\"promptUpsampling\\\":false}\",\"completeTime\":null,\"response\":null,\"successFlag\":0,\"errorCode\":null,\"errorMessage\":null,\"createTime\":\"2026-03-29 20:48:21\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194,
      },
      {
        "_id": "085490636f527322ea99b0029ef1622d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
  [...]
