{
  "log": {
    "_recordingName": "kie/suno-generate-instrumental",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6119cc1b0340700c743dedccf67a3b92",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An ambient soundscape for meditation and relaxation\",\"model\":\"V5\",\"instrumental\":true,\"customMode\":false}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 58,
            "text": "{\"code\":422,\"msg\":\"Please enter callBackUrl.\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 241,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
