{
  "log": {
    "_recordingName": "fal/wan-v2p7-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8a515b9efee32cd829931c69a0fab2c0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An astronaut riding a horse in a photorealistic style.\",\"max_images\":1,\"enable_safety_checker\":true}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/wan/v2.7/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 210,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96b668/EzKCX-KWhLqmQJS_aTriY_output_1.png\",\"content_type\":\"image/png\",\"file_name\":\"output_1.png\",\"file_size\":2189202}],\"generated_text\":null,\"seed\":1623629923}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d9f34-db15-78b3-90fc-eb174c349045"
            },
            {
              "name": "x-fal-served-from",
              "value": "6eacbd40-34d1-48f9-88c1-dd2131d7683b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 27569,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
