{
  "log": {
    "_recordingName": "kie/grok-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb375933e6cb65f11502f67d298d977b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-video\",\"input\":{\"prompt\":\"A golden sunset over calm ocean waves\",\"duration\":\"6\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a6eb8e4a56fd3898574c2cb79392de48\",\"recordId\":\"a6eb8e4a56fd3898574c2cb79392de48\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 499,
      },
      {
        "_id": "36b05f6782191506f0f00e3e6bd44246",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "a6eb8e4a56fd3898574c2cb79392de48"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=a6eb8e4a56fd3898574c2cb79392de48"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 403,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a6eb8e4a56fd3898574c2cb79392de48\",\"model\":\"grok-imagine/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":\\\\\\\"6\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A golden sunset over calm ocean waves\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1774335521635}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 293,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
