{
  "log": {
    "_recordingName": "kie/grok-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb375933e6cb65f11502f67d298d977b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-video\",\"input\":{\"prompt\":\"A golden sunset over calm ocean waves\",\"duration\":\"6\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0a427f9c21922e5e85493e136e2df32b\",\"recordId\":\"0a427f9c21922e5e85493e136e2df32b\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 499,
      },
      {
        "_id": "fc332479ff48898e48e5cb5d235e940d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "0a427f9c21922e5e85493e136e2df32b"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=0a427f9c21922e5e85493e136e2df32b"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 403,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0a427f9c21922e5e85493e136e2df32b\",\"model\":\"grok-imagine/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":\\\\\\\"6\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A golden sunset over calm ocean waves\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1774591464400}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 217,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
