{
  "log": {
    "_recordingName": "kimicoding/count-tokens",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0025d36f3e7938ff93caa0020c8e8a4f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"k2p5\",\"system\":\"You are a helpful assistant.\",\"messages\":[{\"role\":\"user\",\"content\":\"Hi there!\"}]}"
          },
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/tokens/count"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 94,
            "text": "{\"error\":{\"message\":\"The requested resource was not found\",\"type\":\"resource_not_found_error\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 322,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
