{
  "log": {
    "_recordingName": "kimicoding/search-crawl",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "23d73041ab3ffa9ffacae9606794a74b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"text_query\":\"Rust programming language\",\"limit\":1,\"enable_page_crawling\":true}"
          },
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 39745,
            "text": "{\"search_results\":[{\"content\":\"The main idea that led to the creation of Rust is the idea of a programming languagefor the development of systems (low-level) that has a secure memory model andthat also includes modern elements such as pattern matching, algebraic types,\\n\\nhigher-order functions (closures) and\\n\\ngenerics\\\\[HAA12\\\\].\\n\\nThe general principles that guide the design\\n\\nThe developments in language are: not compromising memory safety, abstractions\\n\\nthey should not cost anything at [...]
