{
  "log": {
    "_recordingName": "kie/seedance-2-fast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7a0532e7ac9b42683c170045d7893c1c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2-fast\",\"input\":{\"prompt\":\"A calm lake at dawn with mist rising over the water\",\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"generate_audio\":false,\"web_search\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"5d090ba9751da4d05f0ffc3c6f9d8355\",\"recordId\":\"5d090ba9751da4d05f0ffc3c6f9d8355\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 473,
      },
      {
        "_id": "1e663e99fe32e095e3b8f7679f00afe2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "5d090ba9751da4d05f0ffc3c6f9d8355"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=5d090ba9751da4d05f0ffc3c6f9d8355"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 567,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"5d090ba9751da4d05f0ffc3c6f9d8355\",\"model\":\"bytedance/seedance-2-fast\",\"state\":\"fail\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"web_search\\\\\\\":false,\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A calm lake at dawn with mist rising over the water\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"bytedance/seedance-2-fast\\\"}\",\"resultJson\":\"\",\"failCode\":\"422\",\"failMsg\":\"generate playground failed, task id is blank\",\"costTime\":null,\"completeTime\":null,\"createTime\":1775646958417}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 214,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
