{
  "log": {
    "_recordingName": "kie/seedance-2-fast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7a0532e7ac9b42683c170045d7893c1c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2-fast\",\"input\":{\"prompt\":\"A calm lake at dawn with mist rising over the water\",\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"generate_audio\":false,\"web_search\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"69980ba22910a5d677bee9895b2dda79\",\"recordId\":\"69980ba22910a5d677bee9895b2dda79\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 522,
      },
      {
        "_id": "d3b0b59baf5c9f51257ab3c0459c458d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "69980ba22910a5d677bee9895b2dda79"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=69980ba22910a5d677bee9895b2dda79"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 567,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"69980ba22910a5d677bee9895b2dda79\",\"model\":\"bytedance/seedance-2-fast\",\"state\":\"fail\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"web_search\\\\\\\":false,\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A calm lake at dawn with mist rising over the water\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"bytedance/seedance-2-fast\\\"}\",\"resultJson\":\"\",\"failCode\":\"422\",\"failMsg\":\"generate playground failed, task id is blank\",\"costTime\":null,\"completeTime\":null,\"createTime\":1775636957687}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
