{
  "log": {
    "_recordingName": "fal/billing-events-endpoint",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e488402f0aaff66f00f4be55899b464",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "endpoint_id",
              "value": "fal-ai/flux/dev"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.fal.ai/v1/models/billing-events?endpoint_id=fal-ai%2Fflux%2Fdev&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 501,
            "text": "{\"billing_events\":[{\"request_id\":\"019d35df-9b15-7a30-85c0-34ac3f464bac\",\"endpoint_id\":\"fal-ai/flux/dev\",\"timestamp\":\"2026-03-28T19:15:42.501870000Z\",\"output_units\":1,\"unit_price\":0.025,\"percent_discount\":0,\"cost_estimate_nano_usd\":25000000},{\"request_id\":\"019d35df-445e-7273-b57a-9c48c3d6c89c\",\"endpoint_id\":\"fal-ai/flux/dev\",\"timestamp\":\"2026-03-28T19:15:19.975654000Z\",\"output_units\":1,\"unit_price\":0.025,\"percent_discount\":0,\"cost_estimate_nano_usd\":25000000}],\"next_cursor\":null,\"has_more\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::b5bjb-1774766018667-29dba640d875"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1664,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
