{
  "log": {
    "_recordingName": "kie/download-url/convert",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d0fd50a3577da68c2bb5a9243f76fda9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"url\":\"https://cdn.kie.ai/files/sample-test-file.mp4\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/common/download-url"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 45,
            "text": "{\"code\":422,\"msg\":\"url is wrong\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 360,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
