{
  "log": {
    "_recordingName": "fal/models-usage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b2f08ad1ea2f71a6f1ae0ef88ca3a2f0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/models/analytics"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"error\":{\"type\":\"validation_error\",\"message\":\"Invalid request parameters\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::sw6w7-1775186358783-c9ce71540132"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 397,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
