{
  "log": {
    "_recordingName": "kie/models/nano-banana-pro",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "29e1ce889e2bc93ff1a876c94c7631a3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"nano-banana-pro\",\"input\":{\"prompt\":\"A futuristic city with flying vehicles at night\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"bc92e3c0191c7b81f15ef24075f01d89\",\"recordId\":\"bc92e3c0191c7b81f15ef24075f01d89\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 843,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
