{
  "log": {
    "_recordingName": "kie/models/nano-banana-2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6e280811391c74b7ffcd2572b0c6fc16",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"nano-banana-2\",\"input\":{\"prompt\":\"A beautiful garden with roses and a fountain\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"2c753e26ce4df2bf9c79acd26ff940d1\",\"recordId\":\"2c753e26ce4df2bf9c79acd26ff940d1\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 462,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
