{
  "log": {
    "_recordingName": "fal/apps-queue-flush",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "40f6821d6c6591fff3657381fc268dc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "idempotency-key",
              "value": "test-key-123"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.fal.ai/v1/serverless/apps/test-owner/test-app/queue"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 65,
            "text": "{\"error\":{\"type\":\"not_found\",\"message\":\"Application not found\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::jpsvv-1775143460330-ae70ee982aca"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 1201,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
