{
  "log": {
    "_recordingName": "kie/mp4-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f69399be5b74fd56ed4ea3b85cd9e51f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"test-task-id\",\"audioId\":\"test-audio-id\",\"callBackUrl\":\"https://example.com/callback\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/mp4/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 54,
            "text": "{\"code\":422,\"msg\":\"Record does not exist\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 458,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
