{
  "log": {
    "_recordingName": "kie/grok-imagine-lifecycle/step-1-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 42,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":512.84}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 394,
      },
      {
        "_id": "76cad802856834776a3b2620d2506bca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-image\",\"input\":{\"prompt\":\"A red panda sitting on a mossy log in a bamboo forest\",\"aspect_ratio\":\"1:1\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c163845a83369c0658bea45c03b3ce86\",\"recordId\":\"c163845a83369c0658bea45c03b3ce86\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418,
      },
      {
        "_id": "fdd6a01237af075d6b97450fdbefaacd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "c163845a83369c0658bea45c03b3ce86"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=c163845a83369c0658bea45c03b3ce86"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 425,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c163845a83369c0658bea45c03b3ce86\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775143480658}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 289,
      },
      {
        "_id": "fdd6a01237af075d6b97450fdbefaacd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "c163845a83369c0658bea45c03b3ce86"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=c163845a83369c0658bea45c03b3ce86"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 930,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c163845a83369c0658bea45c03b3ce86\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"success\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"{\\\"resultUrls\\\":[\\\"https://tempfile.aiquickdraw.com/r/820d626e-101b-4b56-8aea-f3f598937d79.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/ea806143-68a7-4452-a394-1b84803fca2c.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/02acb648-ee8d-41d0-a1ca-5deb7728bb62.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/5b0b5ac1-2756-4d4a-bb63-aae55dff0cec.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/d3069c69-bf82-444f-9f21-18741f012d9b.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/d07d9abc-5be5-4a1f-ad3f-8a28506da8b9.jpg\\\"]}\",\"failCode\":null,\"failMsg\":null,\"costTime\":23,\"completeTime\":1775143504044,\"createTime\":1775143480658}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 619,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
