{
  "log": {
    "_recordingName": "kie/grok-imagine-lifecycle/step-1-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 43,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":1367.86}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 335,
      },
      {
        "_id": "76cad802856834776a3b2620d2506bca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-image\",\"input\":{\"prompt\":\"A red panda sitting on a mossy log in a bamboo forest\",\"aspect_ratio\":\"1:1\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3a86088a228dcb55e41094ef79d14601\",\"recordId\":\"3a86088a228dcb55e41094ef79d14601\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 369,
      },
      {
        "_id": "0d571d71c9ab99795bb5c28bb8471120",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "3a86088a228dcb55e41094ef79d14601"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=3a86088a228dcb55e41094ef79d14601"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 425,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3a86088a228dcb55e41094ef79d14601\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775648986819}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 225,
      },
      {
        "_id": "0d571d71c9ab99795bb5c28bb8471120",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "3a86088a228dcb55e41094ef79d14601"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=3a86088a228dcb55e41094ef79d14601"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 930,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3a86088a228dcb55e41094ef79d14601\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"success\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"{\\\"resultUrls\\\":[\\\"https://tempfile.aiquickdraw.com/r/fc5fab57-a0df-4d3f-828f-bb4380303103.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/e93e9077-b203-43a5-aaeb-ee5f38ab9a57.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/29aae580-943c-4b0e-ba27-9fc9339d545a.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/abf783e3-4505-4a65-bc35-b0224e0deab0.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/1ec5e954-2aca-4173-b4ff-62aeb105d097.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/afe67f09-eee8-4eef-8b76-97dbcb893c6e.jpg\\\"]}\",\"failCode\":null,\"failMsg\":null,\"costTime\":13,\"completeTime\":1775649000667,\"createTime\":1775648986819}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 318,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
