{
  "log": {
    "_recordingName": "kie/grok-imagine-lifecycle/step-1-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 42,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":2429.9}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 337,
      },
      {
        "_id": "76cad802856834776a3b2620d2506bca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-image\",\"input\":{\"prompt\":\"A red panda sitting on a mossy log in a bamboo forest\",\"aspect_ratio\":\"1:1\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"15f4ac7ad5d671d6e46e6bd444e0503c\",\"recordId\":\"15f4ac7ad5d671d6e46e6bd444e0503c\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 463,
      },
      {
        "_id": "d4d2843e47f2374cfd4b69469a195af5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "15f4ac7ad5d671d6e46e6bd444e0503c"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=15f4ac7ad5d671d6e46e6bd444e0503c"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 425,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"15f4ac7ad5d671d6e46e6bd444e0503c\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775646929898}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 219,
      },
      {
        "_id": "d4d2843e47f2374cfd4b69469a195af5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "15f4ac7ad5d671d6e46e6bd444e0503c"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=15f4ac7ad5d671d6e46e6bd444e0503c"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 930,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"15f4ac7ad5d671d6e46e6bd444e0503c\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"success\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"{\\\"resultUrls\\\":[\\\"https://tempfile.aiquickdraw.com/r/276d8cd8-4365-48e9-8a39-bdbf295d5205.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/0828caa0-16e9-43df-8b97-c95465710333.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/01feb188-5fbd-4b29-b585-b332a4162485.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/72af7d7d-90af-422e-a5cd-2144589e5beb.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/75722b95-b5af-4c01-845d-8b5e1326d5a2.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/6ffdf7fc-7860-41d4-995a-5c8903017929.jpg\\\"]}\",\"failCode\":null,\"failMsg\":null,\"costTime\":13,\"completeTime\":1775646943369,\"createTime\":1775646929898}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 318,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
