{
  "log": {
    "_recordingName": "kie/models/elevenlabs-dialogue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c36920f87575f0c22251a929a8f2d2de",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/text-to-dialogue-v3\",\"input\":{\"prompt\":\"A conversation between two friends discussing their vacation plans\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 101,
            "text": "{\"code\":500,\"msg\":\"Server exception, please try again later or contact customer service\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
