{
  "log": {
    "_recordingName": "fal/account-focus",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cd425518f2f5aba98907ca6d69276c35",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "source",
              "value": "estimate"
            }
          ],
          "url": "https://api.fal.ai/v1/account/focus?source=estimate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 139,
            "text": "{\"error\":{\"type\":\"authorization_error\",\"message\":\"FOCUS reports require additional permissions. Contact support to enable this feature.\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::cd6zj-1774765788869-85d277fd32aa"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 321,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
