{
  "log": {
    "_recordingName": "fal/keys-create-and-delete",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "af0b487d5c544c29e95caefd10ba92fd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"alias\":\"nakedapi-integration-test\"}"
          },
          "queryString": [],
          "url": "https://api.fal.ai/v1/keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 176,
            "text": "{\"key_id\":\"aa21c80d-b94f-4317-97aa-f623e5cb31ec\",\"key_secret\":\"4837296ae5b2398366271d93f0bfb369\",\"key\":\"aa21c80d-b94f-4317-97aa-f623e5cb31ec:4837296ae5b2398366271d93f0bfb369\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::zcvkq-1774765789919-3019c0cd2a7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 402,
      },
      {
        "_id": "f86473806bb1f766a0eb4f8ab3a25031",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.fal.ai/v1/keys/aa21c80d-b94f-4317-97aa-f623e5cb31ec"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::6q4hz-1774765790387-0ae800571ca5"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 508,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
