{
  "log": {
    "_recordingName": "kie/suno-mashup",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7fade853eaf732e4ab818d32a28483d0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uploadUrlList\":[\"https://example.com/track1.mp3\",\"https://example.com/track2.mp3\"],\"customMode\":false,\"model\":\"V4_5\",\"prompt\":\"Blend these two tracks smoothly\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/mashup"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 67,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"test-task-id-12345\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}