{
  "log": {
    "_recordingName": "kie/suno-replace-section",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "85ca8b359bd1c0585c9b08621f7951c0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"test-task-id\",\"audioId\":\"test-audio-uuid\",\"prompt\":\"A guitar solo bridge\",\"tags\":\"rock guitar\",\"title\":\"My Song\",\"infillStartS\":60,\"infillEndS\":90}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/replace-section"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 67,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"test-task-id-12345\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}