{
  "log": {
    "_recordingName": "kie/wan-27-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b086eb7d35f6f0b5732bef1241fcc277",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-image\",\"input\":{\"prompt\":\"A serene mountain landscape at sunrise with misty valleys and golden light.\",\"n\":1,\"resolution\":\"2K\",\"aspect_ratio\":\"1:1\",\"enable_sequential\":false,\"thinking_mode\":false,\"watermark\":false,\"seed\":0,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0fd7a431115c1dda84bb46b1ed49d5a4\",\"recordId\":\"0fd7a431115c1dda84bb46b1ed49d5a4\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 460,
      },
      {
        "_id": "66b1b9fb078aa918572a28a03a29bd36",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "0fd7a431115c1dda84bb46b1ed49d5a4"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=0fd7a431115c1dda84bb46b1ed49d5a4"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 589,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0fd7a431115c1dda84bb46b1ed49d5a4\",\"model\":\"wan/2-7-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"watermark\\\\\\\":false,\\\\\\\"seed\\\\\\\":0,\\\\\\\"thinking_mode\\\\\\\":false,\\\\\\\"enable_sequential\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A serene mountain landscape at sunrise with misty valleys and golden light.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"2K\\\\\\\",\\\\\\\"n\\\\\\\":1,\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/2-7-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775649010471}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 290,
      },
      {
        "_id": "66b1b9fb078aa918572a28a03a29bd36",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
