{
  "log": {
    "_recordingName": "fal/compute-create",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6dbe14de2651daf75369bb30b4771c00",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"instance_type\":\"gpu_8x_h100_sxm5\",\"ssh_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC7...\",\"region\":\"us-west\",\"environment\":{\"CUDA_VISIBLE_DEVICES\":\"0,1,2,3,4,5,6,7\"}}"
          },
          "queryString": [],
          "url": "https://api.fal.ai/v1/compute/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 145,
            "text": "{\"error\":{\"type\":\"authorization_error\",\"message\":\"Compute access requires additional permissions. Contact support to enable compute features.\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::6kp7d-1775143462834-bbd8894d403b"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 803,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
