{
  "log": {
    "_recordingName": "fal/estimate-cost",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "215048fd97edb5604e869c780a01638a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"estimate_type\":\"unit_price\",\"endpoints\":{\"fal-ai/flux/dev\":{\"unit_quantity\":100}}}"
          },
          "queryString": [],
          "url": "https://api.fal.ai/v1/models/pricing/estimate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 65,
            "text": "{\"estimate_type\":\"unit_price\",\"total_cost\":2.5,\"currency\":\"USD\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::lmrh8-1774591466293-4b76b190759b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 393,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
