{
  "log": {
    "_recordingName": "free/tmpfiles-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8dbe42c26ddf9599f80a3fac599a9af2",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://tmpfiles.org/api/v1/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"status\":\"success\",\"data\":{\"url\":\"http://tmpfiles.org/32783018/test.txt\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 790,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
