{
  "log": {
    "_recordingName": "fal/workflows",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8a435763297beff5e62c9729448699b9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/workflows/fal-ai/nonexistent-workflow"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 62,
            "text": "{\"error\":{\"type\":\"not_found\",\"message\":\"Workflow not found\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::jfq9h-1775186529631-93a0b8bb4626"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 372,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
