{
  "log": {
    "_recordingName": "kie/style-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cb1b1008b12c9ed9213f8913e1e5caa5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"content\":\"Pop, Mysterious\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/style/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 589,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"11bca28a4b25844533b71709205a1a83\",\"param\":\"Pop, Mysterious\",\"result\":\"Mysterious pop built around a pulsing synth arpeggio, muted electric piano, and tight programmed drums at 104 BPM. Subtle 808 bass, airy pad layers, and echo-drenched plucked guitar add tension. Crisp clap, filtered hi-hats, and reverse FX transitions create a sleek, shadowy gloss with polished vocal harmonies and a hypnotic chorus lift.\",\"creditsConsumed\":0.4,\"creditsRemaining\":110.76,\"successFlag\":\"成功\",\"errorCode\":null,\"errorMsg\":null,\"createTime\":1774788334259}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1492,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
