{
  "log": {
    "_recordingName": "fal/logs-history",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "000450f41fbaab025338e4ae606d07b5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            }
          ],
          "url": "https://api.fal.ai/v1/serverless/logs/history?limit=10"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 70,
            "text": "{\"error\":{\"type\":\"server_error\",\"message\":\"Unexpected server error\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::4hrwn-1775186357609-79c025df4d07"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 893,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
