{
  "log": {
    "_recordingName": "kie/record-info-completed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "62b5c0aa111ab660356ab1cba5f18fab",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "task-completed-001"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=task-completed-001"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 51,
            "text": "{\"code\":422,\"msg\":\"recordInfo is null\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 595,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
