{
  "log": {
    "_recordingName": "kie/kling-motion-control",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "440c1dc74764f76a7d5a8cb13d81eb97",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling-3.0/motion-control\",\"input\":{\"input_urls\":[\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\"],\"video_urls\":[\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\"],\"prompt\":\"The cartoon character is dancing.\",\"mode\":\"720p\",\"character_orientation\":\"video\",\"background_source\":\"input_video\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"31d8ca3215f87c682289371c3b80f6cb\",\"recordId\":\"31d8ca3215f87c682289371c3b80f6cb\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1451,
      },
      {
        "_id": "cec616a18b6930d1fbaf0713dc0ab614",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "31d8ca3215f87c682289371c3b80f6cb"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=31d8ca3215f87c682289371c3b80f6cb"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 686,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"31d8ca3215f87c682289371c3b80f6cb\",\"model\":\"kling-3.0/motion-control\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"mode\\\\\\\":\\\\\\\"720p\\\\\\\",\\\\\\\"background_source\\\\\\\":\\\\\\\"input_video\\\\\\\",\\\\\\\"video_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\\\\\\\"],\\\\\\\"character_orientation\\\\\\\":\\\\\\\"video\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"The cartoon character is dancing.\\\\\\\",\\\\\\\"input_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\"]}\\\",\\\"model\\\":\\\"kling-3.0/motion-control\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775143495681}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 225,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
