{
  "log": {
    "_recordingName": "fal/qwen-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f1c6b877580ac6ed2680bcccea53aeec",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An action shot of a black lab swimming in an inground suburban swimming pool.\",\"num_images\":1,\"image_size\":\"square_hd\",\"output_format\":\"png\",\"num_inference_steps\":30}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/qwen-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 317,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96bca7/IwyrV_jOg2jLtjgZOyIdn.png\",\"width\":1024,\"height\":1024,\"content_type\":\"image/png\"}],\"timings\":{\"inference\":5.127555969000241},\"seed\":900380537,\"has_nsfw_concepts\":[false],\"prompt\":\"An action shot of a black lab swimming in an inground suburban swimming pool.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da029-4b97-7c80-945f-db5f639a82f7"
            },
            {
              "name": "x-fal-served-from",
              "value": "35afa9eb-52f0-402e-b250-391a4e08a2f0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6564,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
