{
  "log": {
    "_recordingName": "kie/grok-imagine-image-to-video-harness",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 42,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":203.24}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 498,
      },
      {
        "_id": "8124044b404c221e666d2bb1f7bc42c1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/image-to-video\",\"input\":{\"prompt\":\"The cat slowly turns its head and blinks\",\"image_urls\":[\"https://tempfile.redpandaai.co/kieai/136592/uploads/1774674979704_cat1.jpg/1774674980049-nm7k3g86rt.jpg\"],\"duration\":\"6\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d848c013a98a71d8d3d40c3b5b5d2a8b\",\"recordId\":\"d848c013a98a71d8d3d40c3b5b5d2a8b\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 452,
      },
      {
        "_id": "920451d2719a9ee428937d539d73d79a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "d848c013a98a71d8d3d40c3b5b5d2a8b"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=d848c013a98a71d8d3d40c3b5b5d2a8b"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 533,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d848c013a98a71d8d3d40c3b5b5d2a8b\",\"model\":\"grok-imagine/image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":6,\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/uploads/1774674979704_cat1.jpg/1774674980049-nm7k3g86rt.jpg\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"The cat slowly turns its head and blinks\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775143490785}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      },
      {
        "_id": "920451d2719a9ee428937d539d73d79a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
