{
  "log": {
    "_recordingName": "kie/grok-imagine-image-to-video-harness",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 42,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":573.39}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 276,
      },
      {
        "_id": "8124044b404c221e666d2bb1f7bc42c1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/image-to-video\",\"input\":{\"prompt\":\"The cat slowly turns its head and blinks\",\"image_urls\":[\"https://tempfile.redpandaai.co/kieai/136592/uploads/1774674979704_cat1.jpg/1774674980049-nm7k3g86rt.jpg\"],\"duration\":\"6\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3a0b06e39abd2ca131f1420850568aae\",\"recordId\":\"3a0b06e39abd2ca131f1420850568aae\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 311,
      },
      {
        "_id": "6f1f6d283722d15a6e50941a9be5f58f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "3a0b06e39abd2ca131f1420850568aae"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=3a0b06e39abd2ca131f1420850568aae"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 541,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3a0b06e39abd2ca131f1420850568aae\",\"model\":\"grok-imagine/image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":\\\\\\\"6\\\\\\\",\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/uploads/1774674979704_cat1.jpg/1774674980049-nm7k3g86rt.jpg\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"The cat slowly turns its head and blinks\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1774675077659}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196,
      },
      {
        "_id": "6f1f6d283722d15a6e50941a9be5f58f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
