{
  "log": {
    "_recordingName": "fal/meta",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "58561ca7205f2411bc59f79b0493bd3b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/meta"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 305,
            "text": "{\"webhook_ip_ranges\":[\"34.123.59.101/32\",\"34.135.41.243/32\",\"35.239.83.87/32\",\"104.198.204.37/32\",\"34.56.20.205/32\",\"34.170.94.127/32\",\"35.224.184.236/32\",\"136.114.56.197/32\",\"34.29.37.237/32\",\"35.225.160.28/32\",\"34.56.205.145/32\",\"34.59.170.72/32\",\"34.10.147.45/32\",\"104.198.64.245/32\",\"34.9.1.255/32\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::qw6vd-1774765790853-d722fe58e9ad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 227,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
