{
  "log": {
    "_recordingName": "kie/helpers/upload-file",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 428,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1775646951171-ibt0j1zjuci.png\",\"filePath\":\"kieai/136592/uploads/1775646950719_helper-test.png/1775646951171-ibt0j1zjuci.png\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/uploads/1775646950719_helper-test.png/1775646951171-ibt0j1zjuci.png\",\"fileSize\":70,\"mimeType\":\"image/png\",\"uploadedAt\":\"2026-04-08T11:15:51.460Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 723,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
