{
  "log": {
    "_recordingName": "kie/qwen2-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7cebca638684036befc56f63dc65ba65",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"qwen2/text-to-image\",\"input\":{\"prompt\":\"A serene mountain landscape at sunrise\",\"image_size\":\"16:9\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f6ac231e66226a4ad2114139ae99b52d\",\"recordId\":\"f6ac231e66226a4ad2114139ae99b52d\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 486,
      },
      {
        "_id": "50982484366feb118d9107345a5eeaf2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "f6ac231e66226a4ad2114139ae99b52d"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=f6ac231e66226a4ad2114139ae99b52d"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 395,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f6ac231e66226a4ad2114139ae99b52d\",\"model\":\"qwen2/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"image_size\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A serene mountain landscape at sunrise\\\\\\\"}\\\",\\\"model\\\":\\\"qwen2/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775646958898}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
