{
  "log": {
    "_recordingName": "fal/xai-grok-imagine-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8dd1b67aa572ad25e05b2e714609bd2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Abstract human silhouette, golden particles ready to burst outward representing joy, data visualization style, emotional expression through particles, artistic scientific\",\"num_images\":1,\"aspect_ratio\":\"1:1\",\"resolution\":\"1k\",\"output_format\":\"jpeg\"}"
          },
          "queryString": [],
          "url": "https://fal.run/xai/grok-imagine-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96b8f0/Lg8gQk8tKyeAay6r995Q__fQjmYr5g.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"Lg8gQk8tKyeAay6r995Q__fQjmYr5g.jpg\",\"file_size\":null,\"width\":null,\"height\":null}],\"revised_prompt\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1.0"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d9f98-28f6-7fb2-a909-194bd19da7d8"
            },
            {
              "name": "x-fal-served-from",
              "value": "bb37e195-e8f5-4105-a012-1132fa3e8b96"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5723,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
