{
  "log": {
    "_recordingName": "kie/bytedance-seedance-2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6e62152def2345d1dbf28a958c972621",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2\",\"input\":{\"prompt\":\"A calm lake at dawn with mist rising over the water\",\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"generate_audio\":false,\"web_search\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"49265b81be9607661c0246b892144776\",\"recordId\":\"49265b81be9607661c0246b892144776\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 509,
      },
      {
        "_id": "a9a8f74033c626f05e0b19e1a503349a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "49265b81be9607661c0246b892144776"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=49265b81be9607661c0246b892144776"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 544,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"49265b81be9607661c0246b892144776\",\"model\":\"bytedance/seedance-2\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"web_search\\\\\\\":false,\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A calm lake at dawn with mist rising over the water\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"bytedance/seedance-2\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776487278516}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 233,
      },
      {
        "_id": "a9a8f74033c626f05e0b19e1a503349a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
