{
  "log": {
    "_recordingName": "kie/runway-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1f716f28e15152d947f0adfd4c9646c6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A golden retriever running through a field of wildflowers\",\"duration\":5,\"quality\":\"720p\",\"aspectRatio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/runway/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7d2c58e1cf02a1a1b9c447cee9e0e5f7\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 312,
      },
      {
        "_id": "52fc3ccfc0aba377e1f6baf7af6f8ee6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "7d2c58e1cf02a1a1b9c447cee9e0e5f7"
            }
          ],
          "url": "https://api.kie.ai/api/v1/runway/record-detail?taskId=7d2c58e1cf02a1a1b9c447cee9e0e5f7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 332,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7d2c58e1cf02a1a1b9c447cee9e0e5f7\",\"parentTaskId\":null,\"generateParam\":{\"prompt\":\"A golden retriever running through a field of wildflowers\",\"imageUrl\":null,\"expandPrompt\":null},\"state\":\"generating\",\"generateTime\":\"1774788502\",\"videoInfo\":null,\"failCode\":\"\",\"failMsg\":\"\",\"expireFlag\":0}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 195,
      },
      {
        "_id": "52fc3ccfc0aba377e1f6baf7af6f8ee6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
         [...]
