{
  "log": {
    "_recordingName": "kie/file-base64-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "af9fd1c1bbc1ecc7a7a68f1977142276",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"base64Data\":\"SGVsbG8gV29ybGQ=\",\"filename\":\"test.txt\",\"uploadPath\":\"uploads/1775143468337_test.txt\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-base64-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 453,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"uploaded-1775143468600-o1a6yzt48f.bin\",\"filePath\":\"kieai/136592/uploads/1775143468337_test.txt/uploaded-1775143468600-o1a6yzt48f.bin\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/uploads/1775143468337_test.txt/uploaded-1775143468600-o1a6yzt48f.bin\",\"fileSize\":11,\"mimeType\":\"application/octet-stream\",\"uploadedAt\":\"2026-04-02T15:24:28.825Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 471,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
