{
  "log": {
    "_recordingName": "fal/requests-search",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1d2ce595c8e1851d85e4b20786e5a864",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.fal.ai/v1/models/requests/search?limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2860,
            "text": "{\"results\":[{\"request_id\":\"019d35df-9b15-7a30-85c0-34ac3f464bac\",\"endpoint_id\":\"fal-ai/flux/dev\",\"started_at\":\"2026-03-28T19:15:40.018Z\",\"sent_at\":\"2026-03-28T19:15:39.925Z\",\"ended_at\":\"2026-03-28T19:15:42.501Z\",\"status_code\":200,\"duration\":2.483425,\"json_input\":{\"prompt\":\"a tiny cat sitting on a windowsill\",\"image_size\":\"square_hd\",\"num_images\":1},\"json_output\":{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a940416/uEhwR6drmhFQvOvhriVRj_hQ3GRe27.jpg\",\"width\":1024,\"height\":1024,\"content_type\":\"image/jpeg\"}],\"timings\":{},\"seed\":1760876332,\"has_nsfw_concepts\":[false],\"prompt\":\"a tiny cat sitting on a windowsill\"}},{\"request_id\":\"019d35df-97b3-7770-bd35-35ba9ab1ab38\",\"endpoint_id\":\"fal-ai/flux/schnell\",\"started_at\":\"2026-03-28T19:15:39.149Z\",\"sent_at\":\"2026-03-28T19:15:39.059Z\",\"ended_at\":\"2026-03-28T19:15:39.483Z\",\"status_code\":200,\"duration\":0.333716,\"json_input\":{\"prompt\":\"a tiny cat sitting on a windowsill\",\"image_size\":\"square_hd\",\"num_images\":1},\"json_output\":{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a940415/erogowSZGQbuEajFbKIWz.jpg\",\"width\":1024,\"height\":1024,\"content_type\":\"image/jpeg\"}],\"timings\":{\"inference\":0.14855642800102942},\"seed\":2103298533,\"has_nsfw_concepts\":[false],\"prompt\":\"a tiny cat sitting on a windowsill\"}},{\"request_id\":\"019d35df-445e-7273-b57a-9c48c3d6c89c\",\"endpoint_id\":\"fal-ai/flux/dev\",\"started_at\":\"2026-03-28T19:15:17.794Z\",\"sent_at\":\"2026-03-28T19:15:17.726Z\",\"ended_at\":\"2026-03-28T19:15:19.975Z\",\"status_code\":200,\"duration\":2.18159,\"json_input\":{\"prompt\":\"test\",\"num_images\":1},\"json_output\":{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a940413/kZ7qq5DD80uRn0CBQ1Sbp_kIojkUNz.jpg\",\"width\":1024,\"height\":768,\"content_type\":\"image/jpeg\"}],\"timings\":{},\"seed\":1113845318,\"has_nsfw_concepts\":[false],\"prompt\":\"test\"}},{\"request_id\":\"019d35de-d11b-7da3-8db0-74c510da4cd1\",\"endpoint_id\":\"fal-ai/flux/schnell\",\"started_at\":\"2026-03-28T19:14:48.408Z\",\"sent_at\":\"2026-03-28T19:14:48.219Z\",\"ended_at\":\"2026-03-28T19:14:48.433Z\",\"status_code\":404,\"duration\":0.025325,\"json_input\":{\"prompt\":\"a tiny cat sitting on a windowsill\",\"image_size\":\"square_hd\",\"num_images\":1},\"json_output\":{\"detail\":\"Path /schnell/stream not found\"}},{\"request_id\":\"019d35de-ccea-7d41-94af-5672735c4fac\",\"endpoint_id\":\"fal-ai/flux/schnell\",\"started_at\":\"2026-03-28T19:14:47.334Z\",\"sent_at\":\"2026-03-28T19:14:47.146Z\",\"ended_at\":\"2026-03-28T19:14:47.667Z\",\"status_code\":200,\"duration\":0.333085,\"json_input\":{\"prompt\":\"a tiny cat sitting on a windowsill\",\"image_size\":\"square_hd\",\"num_images\":1},\"json_output\":{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a940410/IUOlLajn4Jtdm5-bX4dHO.jpg\",\"width\":1024,\"height\":1024,\"content_type\":\"image/jpeg\"}],\"timings\":{\"inference\":0.15115005699772155},\"seed\":1668329165,\"has_nsfw_concepts\":[false],\"prompt\":\"a tiny cat sitting on a windowsill\"}}],\"next_cursor\":\"Mg\",\"has_more\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::b8z7x-1774766020342-01672dd7b789"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2099,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
