{
  "log": {
    "_recordingName": "kie/wan-27-r2v",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ae4d99fb6fc0d8b7e541055991a4bb1b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-r2v\",\"input\":{\"prompt\":\"Image 1 is eating, while video 1 and image 2 are singing beside it.\",\"negative_prompt\":\"low resolution, errors, worst quality, low quality, malformed, extra fingers, bad proportions\",\"reference_image\":[\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\"],\"resolution\":\"720p\",\"aspect_ratio\":\"16:9\",\"duration\":5,\"prompt_extend\":true,\"watermark\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"00053d562026a05f123bee61064acfa2\",\"recordId\":\"00053d562026a05f123bee61064acfa2\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 514,
      },
      {
        "_id": "c73ca9f8107963b1abb69e1593450628",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "00053d562026a05f123bee61064acfa2"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=00053d562026a05f123bee61064acfa2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 771,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"00053d562026a05f123bee61064acfa2\",\"model\":\"wan/2-7-r2v\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"watermark\\\\\\\":false,\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"low resolution, errors, worst quality, low quality, malformed, extra fingers, bad proportions\\\\\\\",\\\\\\\"prompt_extend\\\\\\\":true,\\\\\\\"prompt\\\\\\\":\\\\\\\"Image 1 is eating, while video 1 and image 2 are singing beside it.\\\\\\\",\\\\\\\"reference_image\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\"],\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/2-7-r2v\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775649021310}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 236,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
