{
  "log": {
    "_recordingName": "fal/compute-terminate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f9fea955e41f93311588cbf5de55080e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.fal.ai/v1/compute/instances/test-instance-id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 145,
            "text": "{\"error\":{\"type\":\"authorization_error\",\"message\":\"Compute access requires additional permissions. Contact support to enable compute features.\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::z4lpx-1775186388022-81978f3a7e48"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 695,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
