{
  "log": {
    "_recordingName": "kie/veo-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bc856e3d1019337ce634f5c4a58639bd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cat walking across a sunlit garden path\",\"model\":\"veo3\",\"aspectRatio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/veo/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"9e9a071c779cf8842d269d0d3991d34e\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404,
      },
      {
        "_id": "a315d1c372220c5b87700de51481001e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "9e9a071c779cf8842d269d0d3991d34e"[...]
