{
  "log": {
    "_recordingName": "fal/pricing",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6eff3b336227bf68b8c1d565061795e0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "endpoint_id",
              "value": "fal-ai/flux/dev"
            }
          ],
          "url": "https://api.fal.ai/v1/models/pricing?endpoint_id=fal-ai%2Fflux%2Fdev"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 139,
            "text": "{\"prices\":[{\"endpoint_id\":\"fal-ai/flux/dev\",\"unit_price\":0.025,\"unit\":\"megapixels\",\"currency\":\"USD\"}],\"next_cursor\":null,\"has_more\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::9wnsh-1774331592081-a9b569995928"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 455,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
