{
  "log": {
    "_recordingName": "free/gofile-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 431,
            "text": "{\"data\":{\"createTime\":1775797985,\"downloadPage\":\"https://gofile.io/d/kd9kmX\",\"guestToken\":\"mVF78reLc1FjpseuAOejd5b5A5EHCbkK\",\"id\":\"d03cc201-ef19-425f-a5b0-86d4058be478\",\"md5\":\"8a5d8d58c38e8305135c6fd73de87caa\",\"mimetype\":\"text/plain; charset=utf-8\",\"modTime\":1775797985,\"name\":\"test.txt\",\"parentFolder\":\"a86e8151-ca8a-4ef4-9a56-e95eb4ec2841\",\"parentFolderCode\":\"kd9kmX\",\"servers\":[\"store3\"],\"size\":14,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2470,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
