{
  "log": {
    "_recordingName": "fal/nano-banana-pro",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b75c0ca0177e73d7c14fc56a564bf179",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An action shot of a black lab swimming in an inground suburban swimming pool.\",\"num_images\":1,\"aspect_ratio\":\"1:1\",\"output_format\":\"png\",\"safety_tolerance\":\"4\",\"resolution\":\"1K\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/nano-banana-pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 203,
            "text": "{\"images\":[{\"url\":\"https://storage.googleapis.com/falserverless/example_outputs/nano-banana-pro-t2i-output.png\",\"content_type\":\"image/png\",\"file_name\":\"nano-banana-pro-t2i-output.png\"}],\"description\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d8149-text-to-image"
            },
            {
              "name": "x-fal-served-from",
              "value": "replay-fixture"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 0,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
