{
  "log": {
    "_recordingName": "kie/models/gpt-image-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "582a0f6ec08436b50a14b4c94bedd155",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"gpt-image/1.5-image-to-image\",\"input\":{\"prompt\":\"Transform this portrait into a watercolor painting style\",\"image_url\":\"https://cdn.kie.ai/files/sample-portrait-for-editing.jpg\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 55,
            "text": "{\"code\":500,\"msg\":\"This field is required\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 219,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
