{
  "log": {
    "_recordingName": "kie/models/elevenlabs-stt",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3f00801802b8aa4441077db75a0b29ca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/speech-to-text\",\"input\":{\"prompt\":\"transcribe\",\"audio_url\":\"https://cdn.kie.ai/files/sample-audio-for-transcription.mp3\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 73,
            "text": "{\"code\":500,\"msg\":\"Server exception, please try again later\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 279,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
