{
  "log": {
    "_recordingName": "kie/gpt4o-image-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a7eff947be2caa8b1ad1e2f9263d1722",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A serene mountain lake at sunset with reflections\",\"size\":\"1:1\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/gpt4o-image/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"5fd1b68dbca66cddf73654e72e2094ea\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 373,
      },
      {
        "_id": "7a1f44d41d26eb201ee0ae13c5811b37",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "5fd1b68dbca66cddf73654e72e2094ea"
            }
          ],
          "url": "https://api.kie.ai/api/v1/gpt4o-image/record-info?taskId=5fd1b68dbca66cddf73654e72e2094ea"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 417,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"5fd1b68dbca66cddf73654e72e2094ea\",\"paramJson\":\"{\\\"enableFallback\\\":false,\\\"fileUrlOrPromptNotEmpty\\\":true,\\\"nVariantsValid\\\":true,\\\"prompt\\\":\\\"A serene mountain lake at sunset with reflections\\\",\\\"size\\\":\\\"1:1\\\"}\",\"completeTime\":null,\"response\":null,\"successFlag\":0,\"status\":\"GENERATING\",\"errorCode\":null,\"errorMessage\":null,\"createTime\":1774788500000,\"progress\":\"0.00\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 199,
      },
      {
        "_id": "7a1f44d41d26eb201ee0ae13c5811b37",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
  [...]
