{
  "log": {
    "_recordingName": "free/uguu-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e080bd538a9ca8ab1c7fe6aee099814e",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://uguu.se/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 251,
            "text": "{\n    \"success\": true,\n    \"files\": [\n        {\n            \"hash\": \"9c56f55a7ca32012\",\n            \"filename\": \"OSFwiryE.txt\",\n            \"url\": \"https:\\/\\/d.uguu.se\\/OSFwiryE.txt\",\n            \"size\": 12,\n            \"dupe\": false\n        }\n    ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 792,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
