{
  "log": {
    "_recordingName": "fal/keys-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "681bdf0b8941e307d6db5b720a0ca91a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 173,
            "text": "{\"keys\":[{\"key_id\":\"3920431f-b773-4b1c-86d0-81b1eb28fe97\",\"alias\":\"nakedapi\",\"scope\":\"API\",\"created_at\":\"2026-03-25T08:56:56.292986Z\"}],\"next_cursor\":null,\"has_more\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::p6rz7-1774765789237-b6f7dab3c006"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 673,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
