{
  "log": {
    "_recordingName": "fal/sora-2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7a88964ae67a48c76a53d0725980f92a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A black lab swimming in an inground suburban swimming pool at sunset.\",\"aspect_ratio\":\"16:9\",\"duration\":4}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/sora-2/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 763,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a96bf46/bA7NCKzN_-NSHQb81MI7i_0qDjQnrc.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"bA7NCKzN_-NSHQb81MI7i_0qDjQnrc.mp4\",\"file_size\":4446521,\"width\":1280,\"height\":720,\"fps\":30.0,\"duration\":4.1,\"num_frames\":120},\"video_id\":\"video_69e3781a3d088190b398e392821d6bde0af9fd3c55855cf1\",\"thumbnail\":{\"url\":\"https://v3b.fal.media/files/b/0a96bf46/4H2tcRMTP9AuKZGFOS0WY_I0HJUj01.webp\",\"content_type\":\"image/webp\",\"file_name\":\"4H2tcRMTP9AuKZGFOS0WY_I0HJUj01.webp\",\"file_size\":null,\"width\":null,\"height\":null},\"spritesheet\":{\"url\":\"https://v3b.fal.media/files/b/0a96bf46/pLZBU5R479ZdwBXzgy4JR_vq9aWsME.bin\",\"content_type\":\"image/jpg\",\"file_name\":\"pLZBU5R479ZdwBXzgy4JR_vq9aWsME.bin\",\"file_size\":null,\"width\":null,\"height\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "4.0"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da08d-23c8-75c0-9595-68c352182789"
            },
            {
              "name": "x-fal-served-from",
              "value": "6713c899-04dd-4536-9f68-68bff2d98451"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
