{
  "log": {
    "_recordingName": "free/filebin-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "194a6dcf76602d8cacece5f16387daa4",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://filebin.net/nakedapi-test/test.txt"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 385,
            "text": "{\n    \"bin\": {\n        \"id\": \"nakedapi-test\",\n        \"readonly\": false,\n        \"bytes\": 15,\n        \"bytes_readable\": \"15 B\",\n        \"files\": 1,\n        \"updated_at\": \"2026-04-10T05:13:18.331476Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-04-09T16:02:27.661101Z\",\n        \"created_at_relative\": \"13 hours ago\",\n        \"expired_at\": \"2026-04-17T05:13:18.331476Z\",\n        \"expired_at_relative\": \"6 days from now\"\n    },\n    \"file\": {\n        \"filename\": \"test.txt\",\n        \"content-type\": \"text/plain; charset=utf-8\",\n        \"bytes\": 15,\n        \"bytes_readable\": \"15 B\",\n        \"md5\": \"F2kUI3vWwJDVSVup+3jkkw==\",\n        \"sha256\": \"15edacef1e121224ef5d7899138c741e23307e7e5f56151a4518e7dc9fade867\",\n        \"updated_at\": \"2026-04-10T05:13:18.234234Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-04-09T16:02:27.69116Z\",\n        \"created_at_relative\": \"13 hours ago\"\n    }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-report-abuse",
              "value": "abuse@filebin.net"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1621,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
