{
  "log": {
    "_recordingName": "kie/grok-imagine-lifecycle/step-2-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 41,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":57.62}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 244,
      },
      {
        "_id": "42e715de9817884ff3984048ba8e771e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/image-to-image\",\"input\":{\"prompt\":\"Transform into a watercolor painting style\",\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\"]}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"386284465a1185a8857d36d694bca76b\",\"recordId\":\"386284465a1185a8857d36d694bca76b\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 424,
      },
      {
        "_id": "799c1b036653bb99ffdd04eea89a28ad",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "386284465a1185a8857d36d694bca76b"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=386284465a1185a8857d36d694bca76b"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 484,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"386284465a1185a8857d36d694bca76b\",\"model\":\"grok-imagine/image-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Transform into a watercolor painting style\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775143512348}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 252,
      },
      {
        "_id": "799c1b036653bb99ffdd04eea89a28ad",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
