{
  "log": {
    "_recordingName": "kimicoding/fetch-url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2f663c6c5ad92664a630acc7ab48de13",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"url\":\"https://example.com\"}"
          },
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/fetch"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 183,
            "text": "{\"url\":\"https://example.com\",\"markdown\":\"This domain is for use in documentation examples without needing permission. Avoid use in operations.\\n\\nLearn more\",\"title\":\"Example Domain\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4391,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
