{
  "log": {
    "_recordingName": "kimicoding/files-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "07cc0448ac54efb37560d7ca3314fff3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/files"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 179,
            "text": "{\"id\":\"f96ehdne4kji11fe7wj1\",\"object\":\"file\",\"bytes\":70,\"created_at\":1774765998,\"filename\":\"blob\",\"purpose\":\"image\",\"status\":\"created\",\"status_details\":\"\",\"file_type\":\"image/png\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "msh-gid",
              "value": "coding"
            },
            {
              "name": "msh-org-id",
              "value": "org-msh-coding"
            },
            {
              "name": "msh-project-id",
              "value": "proj-f4962605ad0c4e92be1b440fec1cecda"
            },
            {
              "name": "msh-request-id",
              "value": "2c80ff4b-2b39-11f1-a4d0-1af1b7da4f32"
            },
            {
              "name": "msh-trace-mode",
              "value": "on"
            },
            {
              "name": "msh-uid",
              "value": "codegw-prod"
            },
            {
              "name": "x-msh-trace-id",
              "value": "d3af1f6627e220add495a307ea4a0457"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1219,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
