{
  "log": {
    "_recordingName": "fal/queue-result",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "451d05f9677e7221c5bb3bb541a15017",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "logs",
              "value": "1"
            }
          ],
          "url": "https://queue.fal.run/fal-ai/flux/schnell/requests/test-request-id/status?logs=1"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "allow",
              "value": "POST"
            }
          ],
          "status": 405,
          "statusText": "Method Not Allowed"
        },
        "time": 761,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
