{
  "log": {
    "_recordingName": "kie/aleph-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e98ad47a505aa355874bb2699a6245c7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Transform into an anime art style\",\"videoUrl\":\"https://static.aiquickdraw.com/tools/example/sample-video.mp4\",\"aspectRatio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/aleph/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 139,
            "text": "{\"code\":402,\"msg\":\"Credits insufficient : Your current balance isn’t enough to run this request. Please top up to continue.\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 313,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
