{
  "log": {
    "_recordingName": "kie/suno-timestamped-lyrics",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1804643e694867efa33a27e5cc92f87a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"test-task-id\",\"audioId\":\"test-audio-uuid\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/get-timestamped-lyrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 263,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"alignedWords\":[{\"word\":\"hello\",\"success\":true,\"startS\":0.5,\"endS\":1,\"palign\":0.95},{\"word\":\"world\",\"success\":true,\"startS\":1.1,\"endS\":1.6,\"palign\":0.92}],\"waveformData\":[0.1,0.3,0.5,0.4,0.2],\"hootCer\":0.05,\"isStreamed\":false}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}